html,
body {
	background-color: #88bbe4;
}

.container-fluid {
	justify-content: center;
	margin-top: 100px;
}

#social-container {
	display: flex;
	justify-content: flex-end;
}

#quote-box {
	background-color: white;
	padding: 30px;
	width: 500px;
	margin: auto;
}

h1 {
	margin-bottom: 50px;
	font-family: 'Pacifico', cursive;
	font-size: 4em;
}

h2 {
	font-family: 'Merriweather', serif;
}
